:root{
  --background:#211E1E;
  --font-family:"M PLUS 1p", sans-serif;
  --secondary-color:#08f5d5;
  --tertiary-color:#08aef5;
  --border-color: rgb(54, 54, 54);
}
html{
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding:0;
  
}

.about_me_section{
  height:100vh;
  display:flex;
  flex-direction: column;
  background: linear-gradient(180deg, #222F3E 0%, #211E1E 100%);
  /* overflow-y: auto; */
  
}
.nav_bar{
  z-index:2;
  position:fixed;
  top:10px;
  right:0;
  left:0;
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:30vw;
  height:50px;
  background: var(--background);
  border: 1px solid #413E3E;
  box-shadow: 9px 6px 32.9px rgba(16, 101, 228, 0.25);
  border-radius: 76px;
  text-decoration: none;
}

.nav_bar a{
  text-decoration: none;
  color:#1065E4;
  font-family: "M PLUS 1p", sans-serif;
  transition: .2s;
}
.nav_bar a:hover{
  color:#08aef5;
  font-size: 1.2rem;
  transition: .2s;
}


.display_photo{
  border-radius: 50%;
  margin-inline:auto;
  margin-top:80px;

}
.paragraph{
  height:10px;
  width:500px;
  background-color: pink;
  opacity:.5;
}
.aboutMe_description{
  color:white;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-size:1.5rem;
  font-style: normal;
  margin-inline:20%;
  text-align:center;
}
h1{
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  color:#1065E4;
  margin:0;

}
.links{
 
  height:7%;
  width: 80%;
  margin-inline: auto;
  display:flex;
  justify-content: center;
  gap:5%;
  
}
.link{
  display:flex;
  align-items: center;
}
.link img{
  
  height: 90%;
  margin-top:0;
}
/* Project Section */
.projects_section{
  height:100vh;
  background-color: var(--background);
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.swiper_container{
  width:90%;
  height:80%;
  background-color: var(--background);
  border:1px solid rgb(54, 54, 54);
  border-radius:20px;
  text-align:center;
}
.swiper_slide{ 
  position:absolute;
  z-index:-1;
 
}
.section_header{
 padding-top:60px;
}
.project_name{
  text-align: center;
  color:#08f5d5;
  font-family: "M PLUS 1p", sans-serif;

}
.project_image{
  background-color: green;
  height:30%;
  width:calc(1vw + 20%);
  margin-inline:auto;
  border-radius: 0;
  padding-top:0;
}
.project_techUsed_container{
  display:flex;
  justify-content: center;
  
  color:#08f5d5;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-size:1.2rem;
}
.p-techUsed{
  margin:0;
  font-size:calc(.3rem + 1vw);
}
.project_description{
  color:white;
  font-family:"M PLUS 1p",sans-serif;
  margin-inline:10%;
  font-size:calc(.3rem + 1vw);
 
}
.github_repo_link{
  margin-top:50px;
  text-decoration: none;
  font-size:1.5rem;
  
}
/* Skills Section */
.skills_section{
  
  background-color: var(--background);
}
.skills_container{
  width:90%;
  margin-inline:auto;
  border-radius:20px;
  border:1px solid rgb(54, 54, 54);
  box-sizing: border-box;
}
table{
  width:90%;
  margin-inline: auto;
  border-spacing: 0;
}
th,.font_description,.font_proficiency,.font_skill{
  font-family:var(--font-family);
  border:1px solid rgb(75, 73, 73);
}
th{
  color:var(--secondary-color);
  padding:10px;
}

.font_proficiency{
  color:antiquewhite;
  text-align:center;
}
.font_skill{
  color:var(--tertiary-color);
  text-align:center;
}
.font_description{
  color:white;
  padding:30px;
  
}
.softSkill_container{


}
.ul_softSkill{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:80%;
  margin-inline:auto;
  color:var(--tertiary-color);
  justify-content: space-around;
  gap:7%;
  font-size:calc(.3rem + 1vw)
}
/* Education section */
.education_section{
  background-color: var(--background);
  padding-bottom:10px ;
}
.education_container{
  border:1px solid var(--border-color);
  
  width:90%;
  margin-inline:auto;
  border-radius: 20px;
  padding-inline:2%;
  box-sizing: border-box;
  font-family:var(--font-family);
}
.education_image{
  margin-top:50px;
  display:block;
  width:calc(1vw + 10%);
  border-radius:50%;
  margin-inline: auto;
}
/* max tablet width */
@media screen and (max-width:1024px)
{
  .nav_bar{
    width:500px;
}
.aboutMe_description{
    font-size:1rem;
  }
.project_image{
  background-color: green;
  height:30%;
  width:calc(100vw - 50%);
  margin-inline:auto;
  border-radius: 0;
  padding-top:0;
}
}
/* max phone width */
@media screen and (max-width:430px)
{
  .about_me_section{
    height:100dvh;
  }
  .nav_bar{
  width:100vw;
  border-radius:0px;
  top:0;
  
}
  .aboutMe_description{
    font-size:.9rem;
  }
  .link{
    
    display:flex;
    align-items: center;
  }
  .link img{
    height: 60%;
    margin-top:0;
  }
  .project_image{
    background-color: green;
    height:30%;
    width:80%;
    margin-inline:auto;
  }
  .project_description{
    color:white;
    font-size:70%;
    font-family:"M PLUS 1p",sans-serif;
    margin-inline:12%;
    
  }
  .github_repo_link{
    margin-top:50px;
    text-decoration: none;
    font-size:70%;
    
  }
  .project_techUsed_container{
    display:flex;
    justify-content: center;
    color:#08f5d5;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-size:70%;
  }
  .p-techUsed{
    margin:0;
 
    font-size: 90%;
  }
  table{
    width:90%;
    margin-inline: auto;
    border-spacing: 0;
    font-size: .6rem;
  }
  .education_image{
    width:calc(10vw + 10%);
    border-radius:50%;
  
  }
}
/* minimum browser width */
